body {
    background-image: url("/image/background.png");
    background-attachment: fixed;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: hidden;
}
.main {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 40%;
}
.main > .form-head {
    flex-grow: 25;
    background-color: rgb(3, 3, 97);
    border: 3px rgb(68, 68, 255) solid;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0 20px 0;
}
.main > .form-head > div > img {
   width: 150px;
   height: 40px;
   margin-left: 10px;
}
.main > .form-head > .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main > .form-head > .links > a {
    margin: 0 30px 0 30px;
    outline: none;
    border-bottom: none;
    color: white;
    text-decoration: none;
}
.main > .form-head > .links > .login {
    border-bottom: 2px white solid;
    padding-bottom: 2px;
}
.main > h2 {
    flex-grow: 2;
    text-align: center;
    margin-top: 40px;
    font-size: x-large;
    font-weight: lighter;
}
.main > form {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.border-bottom {
    border-bottom: 4px lightskyblue solid;
}
.grey-span {
    color: gray;
}
.blue-span {
    color:rgb(68, 68, 255);
}
.user-data {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
img {
    width: 13px;
    height: 15px;
}
input {
    margin: 20px 0 5px 0;
    border-style: none;
    min-width: 40%;
    outline: none;
}
.password {
    border-bottom: 1px grey solid;
}
button {
    margin-top: 30px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(68, 68, 255);
    color: white;
    min-width: 200px;
    min-height: 35px;
    outline: none;
    border: none;

    background-image: url("/image/layer.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 8px 8px;
    background-position-x: 170px;

    margin-bottom: 20px;
}